<div class="row content">
  <div class="col-sm-2 sidenav">
    <% if (currentUser) { %>
      <% include ../auth/partials/usernav %>
    <% } else { %>
      <p>Meet Jimmy Newtron,</p>
      <p>Wddit's resident biology contributor.</p>
      <p>Check out his portfolio <a href="www.reddit.com">here</a></p>
      <p></p>
    <% } %>
  </div>

  <div class="col-sm-8 text-left">

  <% if (myarticles) { %>

    <h1>Latest articles from <%= myarticles.name.firstname %></h1>

    <% for (var i = (myarticles.posts.length - 1); i > -1; i--) { %>
     <hr>
     <h2><a href="/post/<%=myarticles.posts[i]._id%>" class='interaction'><%= myarticles.posts[i].title %></a></h2>
     <h5>By <%= myarticles.name.firstname %> <%= myarticles.name.lastname %></h5>
     <h5><span class="glyphicon glyphicon-time"></span> Posted on <%= myarticles.posts[i].created_at %></h5>
       <% let createdTime = new Date(myarticles.posts[i].created_at) %>
       <% let updatedTime = new Date(myarticles.posts[i].updated_at) %>
        <% if (createdTime.toUTCString() === updatedTime.toUTCString()) { %>
          <%  } else { %>
          <h5 style="font-style:italic"><span class="glyphicon glyphicon-time"></span> Updated on <%= myarticles.posts[i].updated_at %></h5>
        <% } %>

     <h5><span class="label label-primary"><%= myarticles.posts[i].tags %></span></h5><br>
     <p><%= myarticles.posts[i].article %></p>
     <hr>

     <% } %>
    <% } %>
     </div>

  <div class="col-sm-2 sidenav">
    <% if ((currentUser || !currentUser) && news) {%>
      <p>Latest tech news</p>
      <% news.forEach(function (val, index) { %>
      <div class="well">
        <a href="<%= val.webUrl %>" target="_blank" class='conversion'><span><%= val.webTitle %></span></a>
        <% var data = new Date (val.webPublicationDate) %>
        <p><small><%= data %></small></p>
      </div>
      <% }) %>
    <% } else if (!currentUser && !news) { %>
        <p>Tech news is on a break...</p>
    <% } else if (currentUser && (currentUser.id != articles.id)) { %>
      <div class="well">
        <p>You're viewing <%=articles.name.firstname%> <%=articles.name.lastname%>'s posts</p>
        <p>User works as a <%=articles.role%></p>
        <p>View their portfolio at <a href="http://<%articles.website%>"><%=articles.website%></a></p>
        <p style="font-style:italic">"<%=articles.skillsintro%>"</p>
        <p>Has <a style="text-decoration: underline" href="/post/<%=articles.id%>"><%=articles.posts.length%> posts </a> to date</p>
        <p>Made <a style="text-decoration: underline" href="/user/<%=articles.id%>/comments"><%=articles.comments.length%> comments </a> to date</p>
      </div>
    <% } %>

  </div>
</div>
